.landing__container{display: flex;
flex-direction: column;
justify-content: center;

text-align: left ;
align-self: center;
margin-top: 10rem;
}

.laheading{
    color: var(--pop);
    font-size: 5rem;
    font-weight: bold;

 
    
}

.lasubheading {color:var(--textoff);
    font-size: 3rem;
font-weight: bold;}
    

.latext{
    width: 50%;
  text-align: left ;
  font-weight: bold
  
}

.labtn {align-self: center;
margin-top: 3rem;}
.labtn > a{
    text-align: center;
    width: 100px;
}


@media screen and (max-width: 1024px) {
    .aimgb {
      display: flex;
      flex-direction: column;
    }
  
    .aimg {
      width: 50%;
      margin: 2rem auto 4rem;
    }
  
    .aimgb >div {
      margin: 1rem 0 1.5rem;
      width:50%;
      align-self: center;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .landing__container{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
  
 
    }
  
  
  