.landing__container{display: flex;
flex-direction: column;
text-align: left ;
align-self: center;
margin-top: 12rem;
}
.firstlasubheading {color:var(--textoff);
  font-size: 3rem;
font-weight: bold;
animation: fadeIn 0.5s;
animation-fill-mode: both;

}
  
.laheading{
    color: var(--pop);
    font-size: 5rem;
  
    animation: fadeIn 0.5s;
    animation-fill-mode: both;
  animation-delay: 0.25s;
  margin-block-start: -2%;
  margin-block-end: -2%
 
    
 
    
}

.lasubheading {color:var(--textoff);
    font-size: 3.5rem;
font-weight: bold;
margin-bottom: 1rem;
animation: fadeIn 0.5s ease backwards;
animation-fill-mode: both;
animation-delay: 0.5s;
}
    

.latext{
    width: 69%;
  text-align: left ;
  font-weight: bold;
  animation: fadeIn 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.75s
  ;
}

.labtn {align-self: center;
margin-top: 3rem;

}

.labtn > a{
    text-align: center;
    width: 100px;
    animation: fadeIn 0.5s;
    animation-delay: 1S;
    animation-fill-mode: both;
}


@media screen and (max-width: 1024px) {

    
    .landing__container{justify-content: center;
      align-items: center;
      text-align: center;
  }}
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .landing__container{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
      
    }

  

    .latext
    {display: flex; 
      flex-direction: column;
      text-align: center;
    } 
    .latext>*
    {
      align-self:center ;
      
    } 
  .laheading{
   
    font-size: 2.5rem;
    
    
 
    
}

.lasubheading {color:var(--textoff);
    font-size: 1.75rem;

}
.firstlasubheading {color:var(--textoff);
  font-size: 1.75rem;
}


    }
  
  
  