.contact__container{
    align-self: center;
    justify-items: center;
    border-radius: 2rem;
    background-color: var(--bgoff);
    border: 1px solid var(--pop);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 12rem;
    
}

@media screen and (max-width: 600px) {
    .contact__container {
      width: 75%;
      
    }
  
}
  
  