


.abilities__container{
    align-self: center;
    text-align: center; 
    
    margin-top: 12rem;
    
 }

 .portfolio{display: flex;
flex-direction: row;
align-items: center;


    
    
    justify-content: center;}
 .skills{
    
    display:grid ;
    grid-template-columns: 13rem 13rem;
    align-items: center;
    
    gap: 1.5rem;
    justify-content: center
    ;
 }

.skill{ border: 1px solid var(--pop);
border-radius: 2rem;
background-color: var(--bgoff)
}
.devicons{
    text-align: center;
    font-size: 4rem;
    
}

.skilldesc{color: var(--pop); font-size: 1.5rem;}
.skill:hover {background-color: var(--pop);
    transition: var(--trans);
    scale: 1.1;
    }
    .skill:hover .skilldesc{color: var(--bg)}

.job{background-color: var(--bgoff); 
    margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid var(--pop);
border-radius: 2rem;
}
    
.job:hover {background-color: var(--pop);
    transition: var(--trans);scale: 1.1;
    color: var(--bg);
}

.job:hover .btn{color: var(--bg);
border: 1px solid var(--bg)}
.job:hover .jobname{color: var(--bg)}
.buttons{display:flex ;
   
    align-items: center; 
    justify-content: center;}

.works{display: flex;
flex-direction: column;
margin-left: 2rem;
}

.jobname{color: var(--pop);margin: 0.5rem}
.jobdesc{width:90%;}

@media screen and (max-width: 1024px) {
    .portfolio {
      display: flex;
      flex-direction: column;
    }
  
    .works {
      margin-top: 3rem;
    }
  
    .jobdesc{width:60%;}
    

  }

    /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
    @media screen and (max-width: 600px) {
        .abilities__container{margin-top: 5rem;}
        
          .works {
            margin-top: 3rem;
          }
        
          .jobdesc{width:60%;}
          
          .devicons{
            text-align: center;
            font-size: 3rem;}
            .skills{
    
                display:grid ;
                grid-template-columns: 10rem 10rem;
                align-items: center;
                
                gap: 1rem;
                justify-content: center
                ;
             }
             .works{
                margin-left: 0rem;
                }
        }