#right{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0;
    height: 100%;
    background-color: var(--bg);
    width: 4rem;
    overflow: hidden;
    text-align: left;
    justify-content: center;
    display: flex;

    }

    .righttext{
        margin-top: 5rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    font-size: 1rem;
color: var(--pop);}